.App {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;
  transition: all ease-out 4s;
}
.App button {
  transition: all ease-out 0.6s;
}
.App button:active {
  transform: scale(0.7);
}
.App .desImage {
  white-space: nowrap;
  padding: 1px 5px;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  top: 0;
  background-color: rgba(255, 165, 0, 0.5);
  width: fit-content;
}

@media screen and (max-width: 1200px) {
  .desImage {
    font-size: 10px;
  }
}

/*# sourceMappingURL=App.css.map */
