.searchBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  top: 38vh;
  width: fit-content;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.searchBar:hover {
  opacity: 1;
}
.searchBar .inputCity {
  border: none;
  width: 30vw;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  color: black;
  outline: 1px solid grey;
  transition: all ease-in-out 0.3s;
}
.searchBar .inputCity:focus {
  outline: 2px solid #6e6e6e;
  opacity: 1;
  color: darkgreen;
}
.searchBar .inputCity:hover {
  outline: 2px solid orange;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  color: darkblue;
}
.searchBar .btnSearch {
  margin-top: 0.6vh;
  position: absolute;
  right: 3%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  outline: none;
  padding: 0;
  transition: all ease-in-out 0.3s;
  z-index: 999;
}
.searchBar .btnSearch:active {
  transform: scale(0.6);
}
.searchBar .btnSearch:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  transform: scale(1.1);
}

.show {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .searchBar .inputCity {
    width: 40vw;
    opacity: 1;
    font-size: 20px;
    padding: 3px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
  }
  .searchBar .inputCity:hover {
    outline: none;
  }
  .searchBar .btnSearch {
    display: inline;
    font-size: 20px;
    right: 2%;
    border: none;
    outline: none;
    padding: 0;
  }
}

/*# sourceMappingURL=CityInput.css.map */
