.menuContainer {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  padding: 5px;
  z-index: 9999;

  .menus {
    list-style: none;
    padding: 0;
    margin: 0;

    .menu {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 5px;
      font-size: 15px;
      color: white;

      ion-icon {
        margin: 0 15px 0 2px;
      }

      &:hover {
        background-color: rgba(0, 255, 255, 0.5);
        border: 1px solid #ccc;
        border-radius: 2px;
      }
    }
  }

}
.show{
  display: block;
}