.carousel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: all ease-in-out 0.3s;
  z-index: 1;
  //pointer-events: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
  }

  .imgContainer {
    margin: 0 0.3vw;
    width: 7vw;
    height: 10vh;
    border-radius: 10px;
    background-size: cover;
    opacity: 0.8;
    border: 1px solid rgba(200, 200, 200, 1);
    transition: all ease-in-out 0.3s;
    //z-index: auto;

    &:hover {
      cursor: pointer;
      transform: scale(1.2) translateY(-20%);
      opacity: 1;
    }

    &:active {
      transform: scale(0.8);
    }
  }

  .selected {
    border: 4px solid rgba(255, 165, 0, 1);
  }
}

@media screen and (max-width: 1200px) {

  .carousel {
    opacity: 0;
    top: 80vh;
  }


}