.logo{
  position: absolute;
  padding: 0;
  left:50%;
  transform: translateX(-50%);
  top: 5vh;
  border-radius: 5px;
  overflow: visible;
  width: 80vw;
  height:35vh;
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

}