.nav {
  position: absolute;
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out 0.3s;
  z-index: 0;
  //border: red 1px solid;

  .navBtn {
    border: none;
    width: 12vh;
    height: 12vh;
    font-size: 80px;
    opacity: 0.6;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.4);
      color: orange;
    }

    &:active {
      transform: scale(0.8);
    }

  }
}

.hide {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
}