.pageNav {
  position: absolute;
  height: 20px;
  padding: 3px;
  left: 0;
  right: 2vw;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: flex-end;
  opacity: 1;
}
.pageNav span {
  font-size: 12px;
  margin: 0 3px;
  color: darkcyan;
  font-weight: bold;
  text-align: end;
}
.pageNav input {
  width: 50px;
  height: 20px;
  font-size: 15px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  opacity: 1;
  padding: 0 3px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  transition: all ease-in-out 0.3s;
}
.pageNav input:hover {
  outline: 1px solid orange;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
.pageNav .hide {
  opacity: 0;
}
.pageNav button {
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0;
  color: powderblue;
  margin-left: -30px;
  background-color: rgba(255, 255, 255, 0);
}
.pageNav button:hover {
  color: orange;
  opacity: 1;
}
.pageNav button ion-icon {
  font-size: 14px;
}

/*# sourceMappingURL=PageJump.css.map */
